#colors_msdd, #scheme_label{
    position: absolute;
    top: 0px;
}

#backgroundColor_msdd, #background_label, #download {
    position: absolute;
    top: 50px;
}

#colors_msdd {
    width: 150px;
    left: 115px;
}

#backgroundColor_msdd {
    width: 25px;
    left: 125px;
}

#background_label {
    left: 0px;
    top: 55px;
}

#scheme_label {
    left: 1px;
    top: 5px;
}

#download {
    left: 155px;
    top: 55px;
}